*:root {
  --color-beaver: rgb(158, 127, 102);
  --color-cod-gray: rgb(17, 17, 17);
  --color-mirage: rgb(23, 25, 43);
  --color-ebony-clay: rgb(36, 43, 55);
  --color-shuttle-gray: rgb(92, 103, 121);
}
