*:root {
  --color-beaver: rgb(158, 127, 102);
  --color-cod-gray: #111111;
  --color-mirage: #17192b;
  --color-ebony-clay: rgb(36, 43, 55);
  --color-shuttle-gray: rgb(92, 103, 121);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Spartan', sans-serif;
  min-height: 100vh;
  color: var(--color-ebony-clay);
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -0.6px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.8px;
  }
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.5px;
  }
}

.text__h3--bold {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.22px;
}

.text__h3--slim {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 2px;
}

.text__body-primary {
  line-height: 1.5625;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: -0.19px;
}

@media screen and (min-width: 768px) {
  .text__body-primary {
    font-size: 1.125rem;
    letter-spacing: -0.22px;
  }
}

.text__body-secondary {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  letter-spacing: -0.19px;
  color: white;
}

.text--white {
  color: white;
}

.hero {
  background-color: var(--color-cod-gray);
}

.hero__logo {
  padding-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
  .hero__logo {
    padding-bottom: 9.625rem;
  }
}

.hero__logo img {
  height: 2rem;
  width: auto;
}

@media screen and (min-width: 768px) {
  .hero__logo img {
    height: 2.5rem;
  }
}

.hero__heading {
  padding-bottom: 2.25rem;
}

.hero__paragraph {
  padding-bottom: 2.5rem;
  max-width: 20.4375rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__paragraph {
    max-width: 35.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__paragraph {
    margin: 0 0;
  }
}

.hero__content-wrapper {
  padding-top: 14.5rem;
  max-width: 1440px;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center top;
  text-align: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 9.5rem;
}

@media screen and (min-width: 768px) {
  .hero__content-wrapper {
    background-image: url(../images/homepage/hero-bg-tablet.jpg);
    padding-top: 23.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content-wrapper {
    background-image: url(../images/homepage/hero-bg-desktop.jpg);
    text-align: left;
    padding-top: 4rem;
    padding-left: 10.3125rem;
  }
}

.btn {
  padding: 1.5rem 3.4375rem;
  text-decoration: none;
  display: inline-block;
}

.btn--light {
  color: white;
  border: 1px solid white;
}

.btn--light:hover {
  cursor: pointer;
  background-color: white;
  color: var(--color-cod-gray);
  font-weight: 600;
}

.btn:visited {
  text-decoration: none;
}

.footer {
  background-color: var(--color-cod-gray);
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 2px;
}

.footer__content-wrapper {
  color: white;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 4.875rem 1rem;
  text-align: center;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__content-wrapper {
    display: flex;
    text-align: left;
    padding: 4.875rem 2.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content-wrapper {
    padding: 4.875rem 0;
  }
}

.footer__text {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer__logo {
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    padding-bottom: 0;
    margin-right: 8.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 12.125rem;
  }
}

.footer__contact {
  padding-bottom: 2.875rem;
}

@media screen and (min-width: 880px) {
  .footer__contact {
    margin-right: 7rem;
  }
}

@media screen and (min-width: 1000px) {
  .footer__contact {
    padding-bottom: 0rem;
  }
}
/*# sourceMappingURL=style.css.map */