*:root {
  --color-beaver: rgb(158, 127, 102);
  --color-cod-gray: #111111;
  --color-mirage: #17192b;
  --color-ebony-clay: rgb(36, 43, 55);
  --color-shuttle-gray: rgb(92, 103, 121);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Spartan', sans-serif;
  min-height: 100vh;
  color: var(--color-ebony-clay);
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -0.6px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -0.8px;
  }
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.5px;
  }
}

.text__h3--bold {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.22px;
  padding-bottom: 0.8125rem;
}

.text__h3--slim {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 2px;
  font-family: Spartan;
}

.text__body-primary {
  line-height: 1.5625;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: -0.19px;
}

@media screen and (min-width: 768px) {
  .text__body-primary {
    font-size: 1.125rem;
    letter-spacing: -0.22px;
  }
}

.text__body-secondary {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  letter-spacing: -0.19px;
  color: white;
}

.text--white {
  color: white;
}

.hero {
  background-color: var(--color-cod-gray);
}

.hero__logo {
  padding-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
  .hero__logo {
    padding-bottom: 9.625rem;
  }
}

.hero__logo img {
  height: 2rem;
  width: auto;
}

@media screen and (min-width: 768px) {
  .hero__logo img {
    height: 2.5rem;
  }
}

.hero__heading {
  padding-bottom: 2.25rem;
}

.hero__paragraph {
  padding-bottom: 2.5rem;
  max-width: 20.4375rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__paragraph {
    max-width: 35.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__paragraph {
    margin: 0 0;
  }
}

.hero__content-wrapper {
  padding-top: 14.5rem;
  max-width: 1440px;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center top;
  text-align: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 9.5rem;
}

@media screen and (min-width: 768px) {
  .hero__content-wrapper {
    background-image: url(../images/homepage/hero-bg-tablet.jpg);
    padding-top: 23.5rem;
    padding-bottom: 13.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content-wrapper {
    background-image: url(../images/homepage/hero-bg-desktop.jpg);
    background-position: center bottom;
    background-size: cover;
    text-align: left;
    padding-top: 4rem;
    padding-left: 10.3125rem;
    padding-bottom: 12.375rem;
  }
}

.btn {
  padding: 1.5rem 3.4375rem;
  text-decoration: none;
  display: inline-block;
}

.btn--light {
  color: white;
  border: 1px solid white;
}

.btn--light:hover {
  cursor: pointer;
  background-color: white;
  color: var(--color-cod-gray);
  font-weight: 600;
}

.btn--dark {
  color: white;
  border: 1px solid white;
  background-color: var(--color-cod-gray);
}

.btn--dark:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--color-cod-gray);
  color: var(--color-cod-gray);
  font-weight: 600;
}

.btn:visited {
  text-decoration: none;
}

.footer {
  background-color: var(--color-cod-gray);
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.75rem;
  letter-spacing: 2px;
}

.footer__content-wrapper {
  color: white;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 4.875rem 1rem;
  text-align: center;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__content-wrapper {
    display: flex;
    text-align: left;
    padding: 4.875rem 2.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content-wrapper {
    padding: 4.875rem 0;
  }
}

.footer__text {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer__logo {
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    padding-bottom: 0;
    margin-right: 8.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 12.125rem;
  }
}

.footer__contact {
  padding-bottom: 2.875rem;
}

@media screen and (min-width: 880px) {
  .footer__contact {
    margin-right: 7rem;
  }
}

@media screen and (min-width: 1000px) {
  .footer__contact {
    padding-bottom: 0rem;
  }
}

.booking {
  background-image: url(../images/homepage/ready-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.booking__content-wrapper {
  max-width: 68.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .booking__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .booking {
    background-image: url(../images/homepage/ready-bg-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .booking {
    background-image: url(../images/homepage/ready-bg-desktop.jpg);
  }
}

.booking__heading {
  padding-bottom: 2.125rem;
}

@media screen and (min-width: 1200px) {
  .booking__heading {
    padding: 0;
  }
}

.info {
  position: relative;
}

@media screen and (min-width: 768px) {
  .info {
    background-position: top 6.25rem left -67vw, bottom 0 left 52vw;
    background-image: url(../images/patterns/pattern-curve-top-right.svg), url(../images/patterns/pattern-curve-top-left.svg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    background-position: top 15.625rem left 0, bottom 0 right 0;
  }
}

.info__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  max-width: 69.375rem;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .info__content-wrapper {
    padding: 0 6.0625rem;
  }
}

@media screen and (min-width: 1200px) {
  .info__content-wrapper {
    padding: 0;
    text-align: left;
  }
}

.info__text {
  padding-bottom: 5.5rem;
}

@media screen and (min-width: 768px) {
  .info__text {
    padding-bottom: 7.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .info__text {
    padding-bottom: 5rem;
  }
}

.info__top {
  display: flex;
  flex-direction: column;
  margin-top: -4.5rem;
}

@media screen and (min-width: 768px) {
  .info__top {
    margin-top: -6rem;
  }
}

@media screen and (min-width: 1200px) {
  .info__top .info__text {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .info__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5625rem;
    margin-top: -4.375rem;
  }
}

.info__spacer {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.info__heading {
  padding-bottom: 1rem;
}

.info__paragraph {
  max-width: 28.5625rem;
  margin: 0 auto;
}

.info__image {
  max-width: 35.8125rem;
  margin: 0 auto;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: auto;
  min-width: 15.4375rem;
  min-height: 25rem;
}

@media screen and (min-width: 1200px) {
  .info__image {
    max-width: 33.75rem;
    margin: 0;
    height: 45rem;
  }
}

.info__image--top {
  background-image: url(../images/homepage/enjoyable-place-mobile.jpg);
}

@media screen and (min-width: 768px) {
  .info__image--top {
    background-image: url(../images/homepage/enjoyable-place-tablet.jpg);
    min-height: 22.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .info__image--top {
    background-image: url(../images/homepage/enjoyable-place-desktop.jpg);
  }
}

.info__image--bottom {
  background-image: url(../images/homepage/locally-sourced-mobile.jpg);
}

@media screen and (min-width: 768px) {
  .info__image--bottom {
    background-image: url(../images/homepage/locally-sourced-tablet.jpg);
    min-height: 22.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .info__image--bottom {
    background-image: url(../images/homepage/locally-sourced-desktop.jpg);
  }
}

.info__bottom {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .info__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5rem;
  }
}

.info__bottom__lines {
  display: none;
}

@media screen and (min-width: 768px) {
  .info__bottom__lines {
    display: block;
    position: absolute;
    top: 29%;
    right: -2rem;
  }
}

@media screen and (min-width: 880px) {
  .info__bottom__lines {
    display: block;
    position: absolute;
    top: 29%;
    right: 4vw;
  }
}

@media screen and (min-width: 1200px) {
  .info__bottom__lines {
    display: block;
    position: absolute;
    top: 39%;
    right: -1.75rem;
  }
}

@media screen and (min-width: 1350px) {
  .info__bottom__lines {
    display: block;
    position: absolute;
    top: 39%;
    right: -6.75rem;
  }
}

.info__bottom .info__image {
  order: -1;
}

@media screen and (min-width: 1200px) {
  .info__bottom .info__image {
    order: 1;
  }
}

.highlights {
  background: var(--color-cod-gray);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .highlights {
    text-align: left;
  }
}

.highlights__spacer {
  padding-bottom: 2rem;
}

.highlights__paragraph {
  max-width: 27.8125rem;
  padding-bottom: 4rem;
}

.highlights__heading {
  padding-bottom: 1.625rem;
}

@media screen and (min-width: 768px) {
  .highlights__cards {
    text-align: left;
    width: 33.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .highlights__cards {
    padding-top: 2.6rem;
  }
}

.highlights__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights__card:not(:last-child) {
  border-bottom: 1px solid var(--color-shuttle-gray);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .highlights__card {
    flex-direction: row;
    justify-content: space-between;
  }
}

.highlights__card__text {
  max-width: 20.4375rem;
  padding-bottom: 1.5rem;
}

.highlights__image {
  width: 18.4375rem;
  height: 14.3125rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  position: relative;
}

@media screen and (min-width: 350px) {
  .highlights__image {
    width: 20.4375rem;
    height: 15.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .highlights__image {
    width: 8rem;
    height: 6rem;
  }
  .highlights__image::after {
    content: '';
    width: 2rem;
    height: 1px;
    background-color: var(--color-beaver);
    position: absolute;
    z-index: 100;
    top: 1.125rem;
    left: 8rem;
  }
}

.highlights__image--first {
  background-image: url(../images/homepage/salmon-mobile.jpg);
}

.highlights__image--second {
  background-image: url(../images/homepage/beef-mobile.jpg);
}

.highlights__image--third {
  background-image: url(../images/homepage/chocolate-mobile.jpg);
}

.highlights__content-wrapper {
  padding: 4.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 69.375rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .highlights__content-wrapper {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .highlights__content-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 12.5rem;
  }
}

.events {
  padding: 5rem 1.625rem;
}

.events__image {
  min-width: 15.4375rem;
  min-height: 25rem;
  display: none;
  margin-bottom: 3rem;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}

@media screen and (min-width: 350px) {
  .events__image {
    width: 20.375rem;
    height: 25rem;
  }
}

@media screen and (min-width: 768px) {
  .events__image {
    width: 35.8125rem;
    height: 22.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .events__image {
    width: 33.75rem;
    height: 37.5rem;
    margin: 0;
  }
}

.events__image--family {
  background-image: url("../images/homepage/family-gathering-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .events__image--family {
    background-image: url("../images/homepage/family-gathering-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .events__image--family {
    background-image: url("../images/homepage/family-gathering-desktop.jpg");
  }
}

.events__image--special {
  background-image: url("../images/homepage/special-events-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .events__image--special {
    background-image: url("../images/homepage/special-events-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .events__image--special {
    background-image: url("../images/homepage/special-events-desktop.jpg");
  }
}

.events__image--social {
  background-image: url("../images/homepage/social-events-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .events__image--social {
    background-image: url("../images/homepage/social-events-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .events__image--social {
    background-image: url("../images/homepage/social-events-desktop.jpg");
  }
}

.events__image.active {
  display: block;
}

.events__content-wrapper {
  max-width: 68.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .events__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.events__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .events__info {
    justify-self: start;
    align-items: start;
  }
}

.events__heading {
  padding-bottom: 1rem;
}

.events__text {
  max-width: 20.4375rem;
  text-align: center;
  margin-bottom: 2rem;
  display: none;
}

.events__text.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .events__text {
    max-width: 28.5625rem;
  }
}

@media screen and (min-width: 1200px) {
  .events__text {
    max-width: 27.8125rem;
    text-align: left;
  }
}

.events__buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .events__buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 43.0625rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .events__buttons {
    flex-direction: column;
    order: 10;
    padding-top: 4.875rem;
    width: auto;
    align-items: start;
  }
}

.events__buttons button {
  color: var(--color-shuttle-gray);
  background-color: transparent;
  border: none;
  padding-bottom: 0.9375rem;
  position: relative;
}

.events__buttons button:focus {
  outline: none;
}

.events__buttons button:hover {
  cursor: pointer;
  color: var(--color-cod-gray);
}

.events__buttons button.active {
  color: var(--color-cod-gray);
}

.events__buttons button.active::after {
  content: '';
  width: 3rem;
  height: 1px;
  background-color: var(--color-beaver);
  position: absolute;
  bottom: 0.9375rem;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 1200px) {
  .events__buttons button.active::after {
    width: 5.9375rem;
    height: 1px;
    background-color: var(--color-beaver);
    position: absolute;
    bottom: 1.8125rem;
    left: -4.225rem;
  }
}

.reservations {
  background-image: url(../images/booking/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 37.5rem;
}

@media screen and (min-width: 768px) {
  .reservations {
    background-image: url(../images/booking/hero-bg-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .reservations {
    background-image: url(../images/booking/hero-bg-desktop.jpg);
    min-height: 810px;
  }
}

.reservations__logo {
  padding-bottom: 2.5rem;
}

.reservations__logo:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .reservations__logo {
    margin-right: auto;
  }
}

.reservations__logo img {
  width: 5.125rem;
  height: 2rem;
}

@media screen and (min-width: 1200px) {
  .reservations__logo {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 4.0625rem;
  }
}

.reservations__heading {
  margin-bottom: 1rem;
}

.reservations__info {
  margin-bottom: 5.6875rem;
}

.reservations__text {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 375px) {
  .reservations__text {
    max-width: 35.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .reservations__text {
    max-width: 27.8125rem;
  }
}

.reservations__button {
  text-align: center;
}

.reservations__content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3.5rem 1.5rem;
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .reservations__content-wrapper {
    padding: 3.5rem 2.4375rem;
  }
}

@media screen and (min-width: 1200px) {
  .reservations__content-wrapper {
    flex-direction: row;
    padding: 0;
    padding-top: 16.125rem;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}

@media screen and (min-width: 350px) {
  .form {
    width: 20.4375rem;
    padding: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding: 3rem;
    width: 34.0625rem;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 33.75rem;
    margin-bottom: calc(100vh - 65.625rem);
  }
}

.form__input {
  outline: none;
  border: 0;
  font-family: Spartan;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.225px;
  border-bottom: 1px solid #8e8e8e;
  color: var(--color-cod-gray);
  opacity: 0.5;
  padding-bottom: 1rem;
}

.form__input--small {
  width: 4.5625rem;
}

@media screen and (min-width: 768px) {
  .form__input--small {
    width: 5rem;
    margin-left: 1rem;
  }
}

.form__input--big {
  width: 5.5rem;
}

@media screen and (min-width: 768px) {
  .form__input--big {
    width: 6.0625rem;
    margin-left: 1rem;
  }
}

.form__input:focus {
  color: var(--color-cod-gray);
  opacity: 1;
  border-bottom: 1px solid var(--color-cod-gray);
}

.form__input--group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .form__input--group {
    width: auto;
  }
}

.form__date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .form__date {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.125rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-cod-gray);
  margin-bottom: 2rem;
}

.form__button {
  background: transparent;
  border: none;
  display: flex;
  padding: 0 1.875rem;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:focus {
  outline: none;
}

.mb-2 {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */