.events {
  padding: 5rem 1.625rem;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    padding-bottom: 1rem;
  }
  &__text {
    max-width: 20.4375rem;
    text-align: center;
    margin-bottom: 2rem;
    @media screen and (min-width: 768px) {
      max-width: 28.5625rem;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    & button {
      background-color: transparent;
      border: none;
      padding-bottom: 0.9375rem;
      position: relative;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        &::after {
          content: '';
          width: 3rem;
          height: 1px;
          background-color: var(--color-beaver);
          position: absolute;

          bottom: 0.9375rem;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
