.info {
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    max-width: 68.75rem;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: 1200px) {
      padding: 0;
    }
  }

  &__text {
    padding-bottom: 5rem;
  }
  &__top {
    margin-top: -4.5rem;
  }
  &__spacer {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  &__heading {
    padding-bottom: 1.625rem;
  }
  &__image {
    &--top {
      background-image: url(../images/homepage/enjoyable-place-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      width: 100%;
      height: auto;
      min-width: 15.4375rem;
      min-height: 25rem;
      @media screen and (min-width: 768px) {
        background-image: url(../images/homepage/enjoyable-place-tablet.jpg);
      }
      @media screen and (min-width: 1200px) {
        background-image: url(../images/homepage/enjoyable-place-desktop.jpg);
      }
    }

    &--bottom {
      background-image: url(../images/homepage/locally-sourced-mobile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
      min-width: 15.4375rem;
      min-height: 25rem;
      @media screen and (min-width: 768px) {
        background-image: url(../images/homepage/locally-sourced-tablet.jpg);
      }
      @media screen and (min-width: 1200px) {
        background-image: url(../images/homepage/locally-sourced-desktop.jpg);
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    .info__image {
      order: -1;
    }
  }
}
