.info {
  position: relative;

  @media screen and (min-width: 768px) {
    background-position: top 6.25rem left -67vw, bottom 0 left 52vw;

    background-image: url(../images/patterns/pattern-curve-top-right.svg),
      url(../images/patterns/pattern-curve-top-left.svg);
    background-repeat: no-repeat;
  }

  @media screen and(min-width: 1200px) {
    background-position: top 15.625rem left 0, bottom 0 right 0;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    max-width: 68.75rem;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: 768px) {
      padding: 0 6.0625rem;
    }

    @media screen and (min-width: 1200px) {
      padding: 0;
      text-align: left;
    }
  }

  &__text {
    padding-bottom: 5.5rem;
    @media screen and (min-width: 768px) {
      padding-bottom: 7.5rem;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 5rem;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    margin-top: -4.5rem;
    @media screen and (min-width: 768px) {
      margin-top: -6rem;
    }
    .info__text {
      padding-top: 4rem;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7.5625rem;
      margin-top: -4.375rem;
    }
  }
  &__spacer {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }
  &__heading {
    padding-bottom: 1rem;
  }
  &__paragraph {
    max-width: 28.5625rem;
    margin: 0 auto;
  }
  &__image {
    max-width: 35.8125rem;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-width: 15.4375rem;
    min-height: 25rem;

    @media screen and(min-width:1200px) {
      max-width: 33.75rem;
      margin: 0;
      height: 45rem;
    }
    &--top {
      background-image: url(../images/homepage/enjoyable-place-mobile.jpg);

      @media screen and (min-width: 768px) {
        background-image: url(../images/homepage/enjoyable-place-tablet.jpg);
        min-height: 22.5rem;
      }
      @media screen and (min-width: 1200px) {
        background-image: url(../images/homepage/enjoyable-place-desktop.jpg);
      }
    }

    &--bottom {
      background-image: url(../images/homepage/locally-sourced-mobile.jpg);

      @media screen and (min-width: 768px) {
        background-image: url(../images/homepage/locally-sourced-tablet.jpg);
        min-height: 22.5rem;
      }
      @media screen and (min-width: 1200px) {
        background-image: url(../images/homepage/locally-sourced-desktop.jpg);
      }
    }
  }
  &__bottom {
    display: flex;

    flex-direction: column;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -5rem;
    }

    .info__image {
      order: -1;
      @media screen and(min-width: 1200px) {
        order: 1;
      }
    }
  }
}
